<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InstaClone</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
</head>
<body>
    <header class="cab">
        <section class="tituloApp">
            <h1>title</h1>    
        </section>
        <section class="sectMailBox">
            <img src="../public/source/round_all_inbox_black_48pt_3x.png">
        </section>
    </header>

    <footer>
        <a href="#"><img src="../public/source/round_home_black_48dp.png"></a>
        <a href="#"><img src="../public/source/round_search_black_48dp.png"></a>
        <a href="#"><img src="../public/source/round_camera_enhance_black_48dp.png"></a>
        <a href="#"><img src="../public/source/round_favorite_border_black_48dp.png"></a>
        <a href="#"><img src="../public/source/round_face_black_48dp.png"></a>

    </footer>
    
</body>
</html>