doctype html
html
head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
body

	header.cab
		section.tituloApp
			h1.tituloStyle InstaClone
		section.sectMailBox
			img(src='/source/round_all_inbox_black_48pt_3x.png' width="100px" height="auto")

	div.cuerpo
		block content

	footer
		a(href='http://localhost:3000/')
			img(src='/source/round_home_black_48dp.png')
		a(href='#')
			img(src='/source/round_search_black_48dp.png')
		a(href='http://localhost:3000/upload')
			img(src='/source/round_camera_enhance_black_48dp.png')
		a(href='#')
			img(src='/source/round_favorite_border_black_48dp.png')
		a(href='#')
			img(src='/source/round_face_black_48dp.png')
    
