extends layout

block content
	aside.asideClass
		form(action='/' method='post' enctype='multipart/form-data')
			.opciones1
			select(name='raza')
				option(value='perro') Perro
				option(value='gato') Gato
				option(value='ave') Ave
				option(value='roedor') Roedor
			.opciones2
			select(name='tamaño')
				option(value='pequeño') Peque&ntilde;o
				option(value='mediano') Mediano
				option(value='grande') Grande
			.ociones3
			select(name='edad')
				option(value='bebe') Beb&eacute;
				option(value='joven') Joven
				option(value='adulto') Adulto
			input(type='submit' name='Enviar')
	section.sectionClass
