*{
	margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

img{
    width: auto;
    height: 100px;
    padding: 0.5em;
    border: 1px solid #8a4419;
    border-style: inset;
    margin: 0 0.25em 0.25em;
    background-color: aliceblue;
}

.canvas {
    width: 30em;
    height: auto;
    
}

.mainContainer{
    width: 800px;
    height: 600px;
    background-color: lemonchiffon;
    display: flex;
    /* flex-direction: row; */
    
}

.sector1{
    width: 30%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    
}
.sector2{
    width: 100%;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
